@font-face {
  font-family: 'Bagnard';
  font-style: normal;
  font-weight: 400;
  src:
    url("~/assets/fonts/Bagnard.woff2") format("woff2"),
    url("~/assets/fonts/Bagnard.woff") format("woff");
}

@font-face {
  font-family: 'Bagnard Sans';
  font-style: normal;
  font-weight: 400;
  src:
    url("~/assets/fonts/BagnardSans.woff2") format("woff2"),
    url("~/assets/fonts/BagnardSans.woff") format("woff");
}
